.mainHero {
  display: flex;
  justify-content: center;

  &__container {
    padding: 112px 152px;

    width: 100%;
    height: 722px;
    // max-width: 1232px;
    position: relative;
    background-image: url(../../img/hero_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 100%;
    max-width: 1232px;

  }

  h1 {
    z-index: 2;
    position: relative;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(48px, 8vw, 72px);
    line-height: clamp(112%, 12vw, 115%);
    color: var(--neutral-white);
  }

  &__bg {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__desc {
    z-index: 2;
    position: relative;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: var(--neutral-white);
    margin-top: 202px;
    display: flex;

    &-container {
      position: relative;

    }


    p {
      padding: 3px 0;
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--primary-hpm-red);
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    span {
      display: block;
      height: 1px;
      background: var(--primary-hpm-red);
      position: absolute;
      right: 0;
      top: -3px;
      width: 88%;

      &::after {
        content: '';
        background-image: url(../../img/spring.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -50px;
        top: -46px;
        height: 50px;
        width: 50px;
      }
    }
  }

  @include tablet {
    &__container {
      padding: 53px 16px 52px 16px;
      height: 596px;
    }

    span {
      width: 85%;
    }

    &__desc {
      margin-top: 138px;
      line-height: 127%;
    }
  }
}
