.mainWhy {
  background: var(--primary-hpm-red);
  height: 454px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100%;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(48px, 8vw, 72px);
    line-height: clamp(110%, 8vw, 115%);
    text-align: center;
    color: var(--neutral-white);
    margin-top: 70px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 48px;
    column-gap: 68px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: var(--neutral-white);
    margin-top: 20px;
    max-width: 220px;
  }

  @include tablet {
    height: auto;
    padding-bottom: 91px;

    &__grid {
      grid-template-columns: 1fr;
      margin-top: 57px;
      row-gap: 57px;
    }

    &__title {
      margin-top: 85px;
    }

    &__item-text {
      max-width: 280px;
    }
  }
}
