<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__col">
        <picture class="footer__logo">
          <source srcset="../img/logo.svg" type="image/webp">
          <img loading="lazy" src="../img/logo.svg" class="image" width="" height="" alt="">
        </picture>
        <div class="footer__follow">
          <p>Follow us</p>
          <img src="../img/linkedin.svg" alt="linkedin">
        </div>
      </div>
      <div class="footer__col">
        <p class="footer__list-title">HPM</p>
        <ul>
          <li>
            <a href="#">Products</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Industries</a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Use cases</a>
          </li>
          <li>
            <a href="#">Dealers</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <p class="footer__list-title">Contacts</p>
        <div class="footer__contacts">
          <p class="footer__contacts__title">Ukraine</p>
          <a href="">+380 67 675 8601</a>
          <a href="">info@hpm-gages.com</a>
          <a href="">Kyrylivska str. 121-A, 04073, Kyiv, Ukraine</a>
        </div>
        <div class="footer__contacts">
          <p class="footer__contacts__title">USA</p>
          <a href="">+1 550 67 675 8601</a>
          <a href="">infoUS@hpm-gages.com</a>
          <a href="">WinUkraine ave. 63, 04073 NY, USA</a>
        </div>
      </div>
      <div class="footer__col">
        <p class="footer__contact">Our Experts will help you,<br> let's talk!</p>
        <button class="d-btn">Get in touch</button>
        <button class="d-btn-transparent">Explore catalog</button>
      </div>

    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-item">© 2024 High Precision Measurements</p>
      <p class="footer__bottom-item">Terms & Conditions</p>
      <p class="footer__bottom-item">Privacy Policy</p>
      <p class="footer__bottom-item">
        Made by
        <a href="#">
          <img src="../img/bush.svg" alt="bush">
        </a>
      </p>
    </div>
  </div>
</footer>
