<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      <img src="../img/logo.svg" alt="logo">
    </a>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Industries</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Use cases</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header__btns">
      <button class="header__btns-search">
        <img src="../img/search.svg" alt="search">
      </button>
      <button class="header__btns-reguest">
        Reguest
      </button>
    </div>
    <div class="header__burger-btn">
      <span></span>
    </div>
  </div>
  <div class="header__burger-menu">
    <nav>
      <ul>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Industries</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Use cases</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header__burger-search">
      <input type="text" placeholder="site search">
      <button>
        <img src="../img/search.svg" alt="search">
      </button>
    </div>
    <div class="header__burger-reguest">
      <button class="d-btn">Reguest</button>
    </div>
  </div>
</header>
