<div class="mainPartners">
  <div class="mainPartners__container container">
    <p class="mainPartners__title">Our<br> partners</p>
    <div class="mainPartners__info">
      <div class="mainPartners__partners">
        <div class="mainPartners__item">
          <picture class="mainPartners__item-pic">
            <source srcset="../img/motor-sich.svg" type="image/webp">
            <img loading="lazy" src="../img/motor-sich.svg" class="image" width="88" height="64" alt="">
          </picture>
          <div class="mainPartners__item-text">
            <p class="mainPartners__item-title">Motor Sich JSC</p>
            <p class="mainPartners__item-desc">
              Motor Sich Company was founded on May 31, 1946. The enterprise was headed by eminent aircraft designer Oleg Antonov. <br>
              During this time more than one hundred types and modifications of passenger, transport and special purpose airplanes<br> were designed by ANTONOV team. More than 22 000 such aircraft were constructed.
            </p>
          </div>
        </div>
        <div class="mainPartners__item">
          <picture class="mainPartners__item-pic">
            <source srcset="../img/antonov.svg" type="image/webp">
            <img loading="lazy" src="../img/antonov.svg" class="image" width="70" height="61" alt="">
          </picture>
          <div class="mainPartners__item-text">
            <p class="mainPartners__item-title">Antonov Company</p>
            <p class="mainPartners__item-desc">
              ANTONOV Company was founded on May 31, 1946. The enterprise was headed by eminent aircraft designer Oleg Antonov. <br>
              During this time more than one hundred types and modifications of passenger, transport and special purpose airplanes<br> were designed by ANTONOV team. More than 22 000 such aircraft were constructed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
