<div class="mainGages">
  <div class="mainGages__container container">
    <p class="mainGages__title">Strain gages
      <a href="#" class="mainGages__link d-link">
        <img src="../img/link.svg" alt="link">
      </a>
    </p>

    <div class="mainGages__btns">
      <button class="d-btn">
        <img src="../img/gages-1.svg" alt="gages-btn">
        Wire
      </button>
      <button class="d-btn">
        <img src="../img/gages-2.svg" alt="gages-btn">
        Foil
      </button>
      <button class="d-btn">
        <img src="../img/gages-3.svg" alt="gages-btn">
        Weldable
      </button>
    </div>
  </div>
</div>
