<div class="mainProducts">
  <div class="mainProducts__container container">
    <div class="mainProducts__cards">
      <div class="mainProducts__item">
        <div class="mainProducts__item-img">
          <img src="../img/products-1.png" alt="product-img">
          <a href="#" class="mainProducts__link d-link">
            <img src="../img/link.svg" alt="link">
          </a>
        </div>
        <p class="mainProducts__item-title">Adhesives</p>
      </div>
      <div class="mainProducts__item">
        <div class="mainProducts__item-img">
          <img src="../img/products-1.png" alt="product-img">
          <a href="#" class="mainProducts__link d-link">
            <img src="../img/link.svg" alt="link">
          </a>
        </div>
        <p class="mainProducts__item-title">Additional tools and materials</p>
      </div>
      <div class="mainProducts__item">
        <div class="mainProducts__item-img">
          <img src="../img/products-1.png" alt="product-img">
          <a href="#" class="mainProducts__link d-link">
            <img src="../img/link.svg" alt="link">
          </a>
        </div>
        <p class="mainProducts__item-title">Special equipment</p>
      </div>
      <div class="mainProducts__item">
        <!-- <picture class="mainProducts__item-img">
          <source srcset="/img/products-1.webp" type="image/webp">
          <img loading="lazy" src="/img/products-1.png" class="image" width="" height="" alt="">
        </picture> -->
        <div class="mainProducts__item-img">
          <img src="../img/products-1.png" alt="product-img">
          <a href="#" class="mainProducts__link d-link">
            <img src="../img/link.svg" alt="link">
          </a>
        </div>
        <p class="mainProducts__item-title">Service</p>
      </div>


    </div>
    <button class="mainProducts__btn d-btn">
      <img src="../img/products-more.svg" alt="more">
      Explore catalog
    </button>
  </div>
</div>
