<div class="mainWhy">
  <div class="mainWhy__container container">
    <p class="mainWhy__title">Why HPM</p>
    <div class="mainWhy__grid">
      <div class="mainWhy__item">
        <img src="../img/why-1.svg" alt="icon">
        <p class="mainWhy__item-text">Deeply versed in engine strength tests</p>
      </div>
      <div class="mainWhy__item">
        <img src="../img/why-2.svg" alt="icon">
        <p class="mainWhy__item-text">Flexible to fulfill specific orders</p>
      </div>
      <div class="mainWhy__item">
        <img src="../img/why-3.svg" alt="icon">
        <p class="mainWhy__item-text">Short lead times</p>
      </div>
      <div class="mainWhy__item">
        <img src="../img/why-4.svg" alt="icon">
        <p class="mainWhy__item-text">Wide range of products</p>
      </div>
      <div class="mainWhy__item">
        <img src="../img/why-5.svg" alt="icon">
        <p class="mainWhy__item-text">Prompt expert consultation</p>
      </div>
    </div>
  </div>
</div>
