<div class="mainHero">
  <div class="mainHero__container">
    <!-- <img src="../img/hero_bg.png" alt="hero-bg" class="mainHero__bg"> -->
     <div class="mainHero__text">
      <h1>Production of high-<br>temperature strain gages</h1>
      <div class="mainHero__desc">

        <div class="mainHero__desc-container">
          <span></span>
          <p>Wide range of high temperature strain gages</p>

          <p>Instruments and accessories</p>

          <p>Equipment for strain measurements</p>

          <p>Technical consulting</p>

        </div>
        </ul>
      </div>
     </div>
  </div>
</div>
